body {
  margin: 0 auto;
  padding: 1em;
  font-family: Georgia, serif;
  font-size: 1em;
  line-height: 1.6em;
  max-width: 30em;
}

div.msg {
  text-align: center;
}

a.btn, .fn a {
  text-decoration: none;
}

a.btn {
  color: #000;
}

.fn {
  padding: 0 1em;
  text-align: center;
  font-size: 0.7em;
  line-height: 1em;
}
